<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<!-- Page Wrapper -->
<div id="page-wrapper">

    <% include ../partials/nav.ejs %>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>Contact</h2>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <h3>Contact Info</h3>
                <h4>Address:</h4>
                <p>105 S. 5th Street Effingham, IL 62401</p>
                <h4>Hours of Operation:</h4>
                <p>
                    <b>Tue-Thu</b>:  9:30 am - 7:00 pm
                    <br>
                    <b>Saturday</b>: 8:00 am - 12:00 pm
                </p>
                <h4>Phone:</h4>
                <p>(217) 343-2208</p>
                <h4>Email:</h4>
                <p>rauchcheryl@gmail.com</p>
                <hr />
                <h3>Location:</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3095.346868240927!2d-88.54550848473014!3d39.12133754131804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8873973915df13b1%3A0x1564a660e6517154!2s105+S+5th+St%2C+Effingham%2C+IL+62401!5e0!3m2!1sen!2sus!4v1461718679425"
                        id="googleMaps" width="80%" height="600" frameborder="0" style="margin-right: auto; margin-left: auto; display: block;"></iframe>
            </div>
        </section>
    </article>

    <% include ../partials/footer.ejs %>

</div>
</body>
</html>
