<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="landing">
<!-- Page Wrapper -->
<div id="page-wrapper">

  <% include ../partials/nav.ejs %>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>Cut Loose Salon</h2>
      <p>Make your appointment today!<br />
        <a href="/contact">(217) 343-2208</a>.</p>
    </div>
    <a href="#about" class="more scrolly">Learn More</a>
  </section>

  <!-- One -->
  <section id="about" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>A salon to fit your needs</h2>
        <p><span style="font-style: italic;">Cut Loose Salon</span> offers women's, men's, & kid's haircuts. <br />
          Specializing in hair color and highlights.</p>
      </header>
      <div class="cardContainer">
        <img id="businessCard" src="/images/business_card.jpg">
      </div>
      <!--<ul class="icons major">-->
        <!--<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>-->
        <!--<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>-->
        <!--<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>-->
      <!--</ul>-->
    </div>
  </section>

  <% include ../partials/footer.ejs %>

</div>
</body>
</html>
