<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<!-- Page Wrapper -->
<div id="page-wrapper">

    <% include ../partials/nav.ejs %>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>Services</h2>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <div class="pricingContainer" style="max-width: 50em;">
                    <h3>Services and Price Info</h3>
                    <ul style="list-style: none;">
                        <li>Women's cut - <b>$18</b></li>
                        <li>Men's cut - <b>$14</b></li>
                        <li>Kids cut - <span style="font-style: italic;">starting at</span> <b>$7</b></li>
                        <li>Shampoo & style - <b>$15</b></li>
                        <li>Shampoo, cut, & style - <b>$25</b></li>
                        <li>Perm - <b>$65</b></li>
                        <li>Semi-permanent shades - <b>$50</b></li>
                        <li>Color retouch - <b>$60</b></li>
                        <li>Permanent all over color - <b>$65</b></li>
                        <li>
                            <ul style="list-style: none;padding-left: 0; margin-bottom: -.25em;">
                                Highlights and/or lowlights:
                                <li style="padding-top: .5em;">
                                    Partial - <b>$65</b>
                                </li>
                                <li>
                                    Full - <b>$70</b>
                                </li>
                                <li>
                                    Long Hair - <b>$75</b>
                                </li>
                                <li>
                                    Each additional color +<b>$5</b>
                                </li>
                            </ul>
                        </li>
                        <li>All-over color & highlights - <b>$75</b></li>
                        <li>Eyebrow wax - <b>$8</b></li>
                        <li>Deep conditioning treatment - <b>$10</b></li>
                        <li>Up-do - <b>$30</b></li>
                    </ul>
                    <p><b><a href="/contact">Call</a></b> to make an appointment for any of these services.</p>
                    <p>***<span style="font-style: italic;">Text messages are welcome to schedule an appointment</span>***</p>
                </div>
            </div>
        </section>
    </article>

    <% include ../partials/footer.ejs %>

</div>
</body>
</html>
